.row {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row::before, .row::after {
    display: table;
    content: ' '; }
.row::after {
    clear: both; }
.show-grid {
    margin: 15px 0px;
}

.show-grid [class^=large_] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.show-grid [class^=medium_] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.show-grid [class^=small_] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.show-grid [class^=xsmall_] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.row .xsmall_1, .small_1, .medium_1, .large_1, .xsmall_2, .small_2, .medium_2, .large_2, .xsmall_3, .small_3, .medium_3, .large_3, .xsmall_4, .small_4, .medium_4, .large_4, .xsmall_5, .small_5, .medium_5, .large_5, .xsmall_6, .small_6, .medium_6, .large_6, .xsmall_7, .small_7, .medium_7, .large_7, .xsmall_8, .small_8, .medium_8, .large_8, .xsmall_9, .small_9, .medium_9, .large_9, .xsmall_10, .small_10, .medium_10, .large_10, .xsmall_11, .small_11, .medium_11, .large_11, .xsmall_12, .small_12, .medium_12, .large_12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 766px) {
    .xsmall_1, .xsmall_2, .xsmall_3, .xsmall_4, .xsmall_5, .xsmall_6, .xsmall_7, .xsmall_8, .xsmall_9, .xsmall_10, .xsmall_11, .xsmall_12 {
        float: left;
    }
    .xsmall_12 {
        width: 100%;
    }
    .xsmall_11 {
        width: 91.66666667%;
    }
    .xsmall_10 {
        width: 83.33333333%;
    }
    .xsmall_9 {
        width: 75%;
    }
    .xsmall_8 {
        width: 66.66666667%;
    }
    .xsmall_7 {
        width: 58.33333333%;
    }
    .xsmall_6 {
        width: 50%;
    }
    .xsmall_5 {
        width: 41.66666667%;
    }
    .xsmall_4 {
        width: 33.33333333%;
    }
    .xsmall_3 {
        width: 25%;
    }
    .xsmall_2 {
        width: 16.66666667%;
    }
    .xsmall_1 {
        width: 8.33333333%;
    }
    .xsmall_right-12 {
        right: 100%;
    }
    .xsmall_right-11 {
        right: 91.66666667%;
    }
    .xsmall_right-10 {
        right: 83.33333333%;
    }
    .xsmall_right-9 {
        right: 75%;
    }
    .xsmall_right-8 {
        right: 66.66666667%;
    }
    .xsmall_right-7 {
        right: 58.33333333%;
    }
    .xsmall_right-6 {
        right: 50%;
    }
    .xsmall_right-5 {
        right: 41.66666667%;
    }
    .xsmall_right-4 {
        right: 33.33333333%;
    }
    .xsmall_right-3 {
        right: 25%;
    }
    .xsmall_right-2 {
        right: 16.66666667%;
    }
    .xsmall_right-1 {
        right: 8.33333333%;
    }
    .xsmall_right-0 {
        right: auto;
    }
    .xsmall_left-12 {
        left: 100%;
    }
    .xsmall_left-11 {
        left: 91.66666667%;
    }
    .xsmall_left-10 {
        left: 83.33333333%;
    }
    .xsmall_left-9 {
        left: 75%;
    }
    .xsmall_left-8 {
        left: 66.66666667%;
    }
    .xsmall_left-7 {
        left: 58.33333333%;
    }
    .xsmall_left-6 {
        left: 50%;
    }
    .xsmall_left-5 {
        left: 41.66666667%;
    }
    .xsmall_left-4 {
        left: 33.33333333%;
    }
    .small_left-3 {
        left: 25%;
    }
    .xsmall_left-2 {
        left: 16.66666667%;
    }
    .xsmall_left-1 {
        left: 8.33333333%;
    }
    .xsmall_left-0 {
        left: auto;
    }
    .xsmall_offset-12 {
        margin-left: 100%;
    }
    .xsmall_offset-11 {
        margin-left: 91.66666667%;
    }
    .xsmall_offset-10 {
        margin-left: 83.33333333%;
    }
    .xsmall_offset-9 {
        margin-left: 75%;
    }
    .xsmall_offset-8 {
        margin-left: 66.66666667%;
    }
    .xsmall_offset-7 {
        margin-left: 58.33333333%;
    }
    .xsmall_offset-6 {
        margin-left: 50%;
    }
    .xsmall_offset-5 {
        margin-left: 41.66666667%;
    }
    .xsmall_offset-4 {
        margin-left: 33.33333333%;
    }
    .xsmall_offset-3 {
        margin-left: 25%;
    }
    .xsmall_offset-2 {
        margin-left: 16.66666667%;
    }
    .xsmall_offset-1 {
        margin-left: 8.33333333%;
    }
    .xsmall_offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .small_1, .small_2, .small_3, .small_4, .small_5, .small_6, .small_7, .small_8, .small_9, .small_10, .small_11, .small_12 {
        float: left;
    }
    .small_12 {
        width: 100%;
    }
    .small_11 {
        width: 91.66666667%;
    }
    .small_10 {
        width: 83.33333333%;
    }
    .small_9 {
        width: 75%;
    }
    .small_8 {
        width: 66.66666667%;
    }
    .small_7 {
        width: 58.33333333%;
    }
    .small_6 {
        width: 50%;
    }
    .small_5 {
        width: 41.66666667%;
    }
    .small_4 {
        width: 33.33333333%;
    }
    .small_3 {
        width: 25%;
    }
    .small_2 {
        width: 16.66666667%;
    }
    .small_1 {
        width: 8.33333333%;
    }
    .small_right-12 {
        right: 100%;
    }
    .small_right-11 {
        right: 91.66666667%;
    }
    .small_right-10 {
        right: 83.33333333%;
    }
    .small_right-9 {
        right: 75%;
    }
    .small_right-8 {
        right: 66.66666667%;
    }
    .small_right-7 {
        right: 58.33333333%;
    }
    .small_right-6 {
        right: 50%;
    }
    .small_right-5 {
        right: 41.66666667%;
    }
    .small_right-4 {
        right: 33.33333333%;
    }
    .small_right-3 {
        right: 25%;
    }
    .small_right-2 {
        right: 16.66666667%;
    }
    .small_right-1 {
        right: 8.33333333%;
    }
    .small_right-0 {
        right: auto;
    }
    .small_left-12 {
        left: 100%;
    }
    .small_left-11 {
        left: 91.66666667%;
    }
    .small_left-10 {
        left: 83.33333333%;
    }
    .small_left-9 {
        left: 75%;
    }
    .small_left-8 {
        left: 66.66666667%;
    }
    .small_left-7 {
        left: 58.33333333%;
    }
    .small_left-6 {
        left: 50%;
    }
    .small_left-5 {
        left: 41.66666667%;
    }
    .small_left-4 {
        left: 33.33333333%;
    }
    .small_left-3 {
        left: 25%;
    }
    .small_left-2 {
        left: 16.66666667%;
    }
    .small_left-1 {
        left: 8.33333333%;
    }
    .small_left-0 {
        left: auto;
    }
    .small_offset-12 {
        margin-left: 100%;
    }
    .small_offset-11 {
        margin-left: 91.66666667%;
    }
    .small_offset-10 {
        margin-left: 83.33333333%;
    }
    .small_offset-9 {
        margin-left: 75%;
    }
    .small_offset-8 {
        margin-left: 66.66666667%;
    }
    .small_offset-7 {
        margin-left: 58.33333333%;
    }
    .small_offset-6 {
        margin-left: 50%;
    }
    .small_offset-5 {
        margin-left: 41.66666667%;
    }
    .small_offset-4 {
        margin-left: 33.33333333%;
    }
    .small_offset-3 {
        margin-left: 25%;
    }
    .small_offset-2 {
        margin-left: 16.66666667%;
    }
    .small_offset-1 {
        margin-left: 8.33333333%;
    }
    .small_offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .medium_1, .medium_2, .medium_3, .medium_4, .medium_5, .medium_6, .medium_7, .medium_8, .medium_9, .medium_10, .medium_11, .medium_12 {
        float: left;
    }
    .medium_12 {
        width: 100%;
    }
    .medium_11 {
        width: 91.66666667%;
    }
    .medium_10 {
        width: 83.33333333%;
    }
    .medium_9 {
        width: 75%;
    }
    .medium_8 {
        width: 66.66666667%;
    }
    .medium_7 {
        width: 58.33333333%;
    }
    .medium_6 {
        width: 50%;
    }
    .medium_5 {
        width: 41.66666667%;
    }
    .medium_4 {
        width: 33.33333333%;
    }
    .medium_3 {
        width: 25%;
    }
    .medium_2 {
        width: 16.66666667%;
    }
    .medium_1 {
        width: 8.33333333%;
    }
    .medium_right-12 {
        right: 100%;
    }
    .medium_right-11 {
        right: 91.66666667%;
    }
    .medium_right-10 {
        right: 83.33333333%;
    }
    .medium_right-9 {
        right: 75%;
    }
    .medium_right-8 {
        right: 66.66666667%;
    }
    .medium_right-7 {
        right: 58.33333333%;
    }
    .medium_right-6 {
        right: 50%;
    }
    .medium_right-5 {
        right: 41.66666667%;
    }
    .medium_right-4 {
        right: 33.33333333%;
    }
    .medium_right-3 {
        right: 25%;
    }
    .medium_right-2 {
        right: 16.66666667%;
    }
    .medium_right-1 {
        right: 8.33333333%;
    }
    .medium_right-0 {
        right: auto;
    }
    .medium_left-12 {
        left: 100%;
    }
    .medium_left-11 {
        left: 91.66666667%;
    }
    .medium_left-10 {
        left: 83.33333333%;
    }
    .medium_left-9 {
        left: 75%;
    }
    .medium_left-8 {
        left: 66.66666667%;
    }
    .medium_left-7 {
        left: 58.33333333%;
    }
    .medium_left-6 {
        left: 50%;
    }
    .medium_left-5 {
        left: 41.66666667%;
    }
    .medium_left-4 {
        left: 33.33333333%;
    }
    .medium_left-3 {
        left: 25%;
    }
    .medium_left-2 {
        left: 16.66666667%;
    }
    .medium_left-1 {
        left: 8.33333333%;
    }
    .medium_left-0 {
        left: auto;
    }
    .medium_offset-12 {
        margin-left: 100%;
    }
    .medium_offset-11 {
        margin-left: 91.66666667%;
    }
    .medium_offset-10 {
        margin-left: 83.33333333%;
    }
    .medium_offset-9 {
        margin-left: 75%;
    }
    .medium_offset-8 {
        margin-left: 66.66666667%;
    }
    .medium_offset-7 {
        margin-left: 58.33333333%;
    }
    .medium_offset-6 {
        margin-left: 50%;
    }
    .medium_offset-5 {
        margin-left: 41.66666667%;
    }
    .medium_offset-4 {
        margin-left: 33.33333333%;
    }
    .medium_offset-3 {
        margin-left: 25%;
    }
    .medium_offset-2 {
        margin-left: 16.66666667%;
    }
    .medium_offset-1 {
        margin-left: 8.33333333%;
    }
    .medium_offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .large-1, .large_2, .large_3, .large_4, .large_5, .large_6, .large_7, .large_8, .large_9, .large_10, .large_11, .large_12 {
        float: left;
    }
    .large_12 {
        width: 100%;
    }
    .large_11 {
        width: 91.66666667%;
    }
    .large_10 {
        width: 83.33333333%;
    }
    .large_9 {
        width: 75%;
    }
    .large_8 {
        width: 66.66666667%;
    }
    .large_7 {
        width: 58.33333333%;
    }
    .large_6 {
        width: 50%;
    }
    .large_5 {
        width: 41.66666667%;
    }
    .large_4 {
        width: 33.33333333%;
    }
    .large_3 {
        width: 25%;
    }
    .large_2 {
        width: 16.66666667%;
    }
    .large_1 {
        width: 8.33333333%;
    }
    .large_right-12 {
        right: 100%;
    }
    .large_right-11 {
        right: 91.66666667%;
    }
    .large_right-10 {
        right: 83.33333333%;
    }
    .large_right-9 {
        right: 75%;
    }
    .large_right-8 {
        right: 66.66666667%;
    }
    .large_right-7 {
        right: 58.33333333%;
    }
    .large_right-6 {
        right: 50%;
    }
    .large_right-5 {
        right: 41.66666667%;
    }
    .large_right-4 {
        right: 33.33333333%;
    }
    .large_right-3 {
        right: 25%;
    }
    .large_right-2 {
        right: 16.66666667%;
    }
    .large_right-1 {
        right: 8.33333333%;
    }
    .large_right-0 {
        right: auto;
    }
    .large_left-12 {
        left: 100%;
    }
    .large_left-11 {
        left: 91.66666667%;
    }
    .large_left-10 {
        left: 83.33333333%;
    }
    .large_left-9 {
        left: 75%;
    }
    .large_left-8 {
        left: 66.66666667%;
    }
    .large_left-7 {
        left: 58.33333333%;
    }
    .large_left-6 {
        left: 50%;
    }
    .large_left-5 {
        left: 41.66666667%;
    }
    .large_left-4 {
        left: 33.33333333%;
    }
    .large_left-3 {
        left: 25%;
    }
    .large_left-2 {
        left: 16.66666667%;
    }
    .large_left-1 {
        left: 8.33333333%;
    }
    .large_left-0 {
        left: auto;
    }
    .large_offset-12 {
        margin-left: 100%;
    }
    .large_offset-11 {
        margin-left: 91.66666667%;
    }
    .large_offset-10 {
        margin-left: 83.33333333%;
    }
    .large_offset-9 {
        margin-left: 75%;
    }
    .large_offset-8 {
        margin-left: 66.66666667%;
    }
    .large_offset-7 {
        margin-left: 58.33333333%;
    }
    .large_offset-6 {
        margin-left: 50%;
    }
    .large_offset-5 {
        margin-left: 41.66666667%;
    }
    .large_offset-4 {
        margin-left: 33.33333333%;
    }
    .large_offset-3 {
        margin-left: 25%;
    }
    .large_offset-2 {
        margin-left: 16.66666667%;
    }
    .large_offset-1 {
        margin-left: 8.33333333%;
    }
    .large_offset-0 {
        margin-left: 0;
    }
}