.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn_default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn_default:focus,
.btn_default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn_default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
/*btn_default end*/

.btn_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn_primary:focus,
.btn_primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn_primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
/*btn_primary end*/
.btn_success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn_success:focus,
.btn_success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn_success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
/*btn_success end*/

.btn_info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn_info:focus,
.btn_info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.btn_info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/*btn_info end*/

.btn_warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn_warning:focus,
.btn_warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.btn_warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
/*btn_warning end*/

.btn_danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn_danger:focus,
.btn_danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.btn_danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
/*btn_danger end*/

.btn_link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}
.btn_link,
.btn_link:active,
.btn_link.active{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn_link,
.btn_link:hover,
.btn_link:focus,
.btn_link:active {
    border-color: transparent;
}
.btn_link:hover,
.btn_link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

/*btn_link end*/


/*大小尺寸*/
.btn_large{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn_normal{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.btn_samll{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn_xsmall{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn_block{
    display: block;
    width: 100%;
}
input[type="submit"].btn_block,
input[type="reset"].btn_block,
input[type="button"].btn_block {
    width: 100%;
}
.btn.disabled,
.btn[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn_default[disabled]:hover{
    background:transparent;
}
.btn_primary[disabled]:hover{
    background-color: #337ab7;
}
.btn_success[disabled]:hover{
    background-color: #5cb85c;
}
.btn_info[disabled]:hover{
    background-color: #5bc0de;
}
.btn_warning[disabled]:hover{
    background-color: #f0ad4e;
}
.btn_danger[disabled]:hover{
    background-color: #c9302c;
    opacity: .45;
}
.btn_link[disabled]:hover{
    background:transparent;
    text-decoration: none;
}

